@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  
}
header{
  background-color: #096fa8;
  padding: 1px;
  color: white;
}

h1{
  font-size: 1.8rem;
  margin: 10px;
}
body{
  
}
.leaflet-container{
  height: 600px;
  min-width: 58vw;
  margin-left: 5px;
}
main{
  display: flex;
  margin-top: 10px;
 
}

.commandsContainer{
  position: relative;
  top: 0px;
  margin: 0 30px 0 15px;
  width: 37.5vw;
  
}

.commandsBox{
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  max-height: 50vh;
  width: 100%;
  margin-top: 15px;
  overflow-y: auto;
  background-color: #096fa8;
  color: white;
  font-weight: 600;
}

.command{
  word-break: break-all;
  margin: 0px 5px;
  background-color: #07bcff;
  border-radius: 5px;
  padding: 5px;
  color: #140f07;
}



.copy{
  position: relative;
  top: 0.15rem;
  cursor: pointer;
  margin-left: 5px;
}
.copy:hover{
  color: #096fa8; 
}

.copy:active{
  color: aqua;
}

.test{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}



#copied{
  margin: 5px 0px;
  border-radius: 5px;
  padding: 0px;
  color: #140f07;
  opacity: 0;
  transition: opacity 0.5s;
}

#copied.visible{
  opacity: 1;
}