.leaflet-container{
  height: 600px;
  min-width: 60vw;
}
main{
  display: flex;
 
}

.commandsContainer{
  margin: 0 20px;
  
}

.commands{
  
}

.command{
  word-break: break-all;
  
}

.copy{
  cursor: pointer;
}